body {
  background-color: hsl(30, 38%, 92%);
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 36rem;
  height: 60%;
}

.image {
  background-image: url(./images/image-product-desktop.jpg);
  background-size: 18rem 100%;
  width: 18rem;
  height: 100%;
  border-radius: 0.8rem 0rem 0rem 0.8rem;
}

.container {
  background-color: white;
  width: 13rem;
  padding: 0rem 2.5rem 0rem 2.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  height: 100%;
  border-radius: 0rem 0.8rem 0.8rem 0rem;
}

.brand {
  padding-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: monospace;
  color: hsl(228, 12%, 48%);
  font-size: large;
  font-weight: 700;
}

h1 {
  font-family: "Fraunces";
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.para {
  font-size: 0.8rem;
  color: hsl(228, 12%, 48%);
  line-height: 1.6em;
}

.discount {
  font-family: "Fraunces";
  font-size: 2rem;
  color: hsl(158, 36%, 37%);
}

.actual {
  text-decoration-line: line-through;
  color: hsl(228, 12%, 48%);
  margin-left: 1.5rem;
}

.amounts {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: flex-start;
}

.cart {
  text-align: center;
  width: 100%;
  font-family: "Montserrat";
  padding: 0.8rem;
  border-radius: 0.6rem;
  color: white;
  background-color: hsl(158, 36%, 37%);
  outline: none;
  font-weight: 700;
  font-size: 0.9rem;
  border: none;
}

.cart:hover {
  background-color: hsl(212, 21%, 14%);
  cursor: pointer;
}

.cart img {
  padding-right: 0.4rem;
  text-align: center;
  font-size: 0;
  line-height: 0;
}

@media (max-width: 750px) {
  .card {
    flex-direction: column;
    height: 80%;
    width: 25rem;
  }
  .image {
    background-image: url(./images/image-product-mobile.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 80%;
    border-radius: 0.8rem 0.8rem 0rem 0rem;
  }
  .container {
    border-radius: 0rem 0rem 0.8rem 0.8rem;
    width: 20rem;
  }
  .para {
    font-size: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
}
